.activeMenu {
    background-color: #007BFF !important;
    color: #fff !important;
}

.activeDropdown {
    background-color: #3F6791 !important;
    color: #fff !important;
}

.dropdownMenu {
    background-color: #3F6791 !important;
    color: #fff !important;
}